---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

import Head from "../../components/Head.astro";
import Nav from "../../components/Nav.astro";
import ProjectMedia from "../../components/ProjectMedia.astro";
import { getProjects } from "../../utils/getProjects";

export async function getStaticPaths() {
  const projectCollection = await getProjects();

  if (!projectCollection) {
    console.error("No projects");
    return [];
  }

  return projectCollection.items.map((item) => {
    return {
      params: { slug: item.fields.slug },
      props: item,
    };
  });
}

const item = Astro.props;

console.log(item)
---
<style lang="scss">
  .project-details-back {
    font-weight: bold;
    text-decoration: underline;
  }
  .project-details-header {
    font-size: 1.3rem;
  }
  .project-details {
    padding: var(--spacing-2);
  }
</style>
<style lang="scss" is:global>
  .project-details-description {
    line-height: 1.5em;

    p {
      margin-top: 0;
    }
  }
</style>
<html lang="en">
  <Head />
  <body>
    <Nav />
    <div class="project-details">
      <ProjectMedia externalMediaUrls={item.fields.externalMediaUrls} media={item.fields.media} />
      <a href="/" class="project-details-back">Back</a>
      <h1 class="project-details-header">{item.fields.title}</h1>
      <div class="project-details-description" set:html={documentToHtmlString(item.fields.longDescription)} />
    </div>
  </body>
</html>
