---
import HomepageProject from '../components/HomepageProject.astro';
import Nav from '../components/Nav.astro';
import {getProjects} from '../utils/getProjects';

const projectCollection = await getProjects();
console.log(projectCollection)
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Robin Porter - Copywriter</title>
		<style is:global lang="scss">
			:root {
				--main-bg-color: #FFF;
				--main-text-color: #334;
				--spacing-0: 0.25rem;
				--spacing-1: 0.5rem;
				--spacing-2: 1rem;
				--spacing-3: 2rem;
				--spacing-4: 3rem;
				--breakpoint-small: 640px;
			}

			@font-face {
				font-family: 'Inter';
				font-style:  normal;
				font-weight: 400;
				font-display: swap;
				src: url("../../Inter-Regular.woff2?v=3.19") format("woff2"),
						url("../../Inter-Regular.woff?v=3.19") format("woff");
			}

			@font-face {
				font-family: 'Inter';
				font-style:  normal;
				font-weight: 700;
				font-display: swap;
				src: url("../../Inter-Bold.woff2?v=3.19") format("woff2"),
						url("../../Inter-Bold.woff?v=3.19") format("woff");
			}

			html {
				font-family: 'Inter', sans-serif;
				color: var(--main-text-color);
				background-color: var(--main-bg-color);
			}

			body {
				margin: 0;
				padding-top: 4rem;
			}

		</style>
	</head>
	<body>
		<Nav />
		{projectCollection.items.map(project => <HomepageProject project={project} />)}
	</body>
</html>
