---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import HomepageProject from "../components/HomepageProject.astro";
import Nav from "../components/Nav.astro";
import { getProjects } from "../utils/getProjects";
import { getPage } from "../utils/getPage";
import Head from "../components/Head.astro";
import Frame from "../components/Frame.astro";

const [projectCollection, homePage] = await Promise.all([
  getProjects(),
  getPage("29Er1TVqlv7ayMPQomKmYq"),
]);
---

<html lang="en">
  <Head />
  <style lang="scss">
    .project-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--spacing-3);

      @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
        padding: 0 var(--spacing-3);
      }

      @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacing-4);
        padding: 0 var(--spacing-4);
      }
    }

    .about-wrapper,
    .connect-wrapper {
      padding: 0 var(--spacing-2);
      max-width: 40em;

      @media (min-width: 600px) {
        font-size: 1.1rem;
        padding: 0 var(--spacing-3);
      }

      @media (min-width: 1024px) {
        font-size: 1.2rem;
        padding: 0 var(--spacing-4);
      }
    }

    .about-blurb {
      line-height: 1.5em;
      font-size: 1rem;

      @media (min-width: 600px) {
        font-size: 1.1rem;
      }

      @media (min-width: 1024px) {
        font-size: 1.2rem;
      }
    }

    .section-heading {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.05em;
      padding-left: var(--spacing-2);
      padding-top: var(--spacing-4);

      @media (min-width: 600px) {
        font-size: 1.1rem;
        padding-left: var(--spacing-3);
      }

      @media (min-width: 1024px) {
        font-size: 1.2rem;
        padding-left: var(--spacing-4);
      }
    }

    .connect-wrapper {
      padding-bottom: 5rem;

      a {
        font-weight: bold;
        text-decoration: underline;

        &:hover {
          color: var(--secondary-text-color);
        }
      }
    }
  </style>
  <body>
    <Nav />
    <Frame>
      <h2 id="about" class="section-heading">About</h2>
      <div class="about-wrapper">
        <div
          class="about-blurb"
          set:html={documentToHtmlString(homePage.fields.body)}
        >
        </div>
      </div>
      <h2 id="projects" class="section-heading">Projects</h2>
      <div class="project-wrapper">
        {
          homePage.fields.projects &&
            homePage.fields.projects.map((project) => (
              <div class="project-item">
                <HomepageProject project={project} />
              </div>
            ))
        }
      </div>
      <h2 id="connect" class="section-heading">Connect</h2>
      <div class="connect-wrapper">
        <p class="connect">
          Connect with me on <a
            href="https://www.linkedin.com/in/robin-p-3288a83a/"
            rel="noopener noreferrer nofollow">LinkedIn.</a
          >
        </p>
      </div>
    </Frame>
  </body>
</html>
