---
const { metaDescription } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={metaDescription} />
  <title>Robin Porter | ACD & Copywriter</title>
  <style is:global lang="scss">
    :root {
      --main-bg-color: #fff;
      --secondary-bg-color: #eeeef2;
      --main-text-color: #334;
      --secondary-text-color: #667;
      --spacing-0: 0.25rem;
      --spacing-1: 0.5rem;
      --spacing-2: 1rem;
      --spacing-3: 2rem;
      --spacing-4: 3rem;
      --breakpoint-small: 640px;
    }

    @font-face {
      font-family: "Akkurat";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("../../Akkurat.woff2?v=1") format("woff2"),
        url("../../Akkurat.woff?v=1") format("woff");
    }

    @font-face {
      font-family: "Akkurat";
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url("../../Akkurat-Bold.woff2?v=1") format("woff2"),
        url("../../Akkurat-Bold.woff?v=1") format("woff");
    }

    html {
      font-family: "Akkurat", sans-serif;
      color: var(--main-text-color);
      background-color: var(--main-bg-color);
      overflow-y: scroll;
    }

    body {
      margin: 0;
      padding-top: 4rem;
    }

    a {
      color: currentColor;
      text-decoration: none;
    }

    .hidden {
      visibility: hidden;
      pointer-events: none;
    }
  </style>
</head>
