---
const { metaDescription } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={metaDescription} />
  <link rel="preload" href="/Inter-Regular.woff2?v=1" as="style" />
  <link rel="preload" href="/Inter-SemiBold.woff2?v=1" as="style" />
  <link rel="preconnect" href="https://images.ctfassets.net" />
  <title>Robin Porter | ACD & Copywriter</title>
  <style is:global lang="scss" is:inline>
    :root {
      --main-bg-color: #fff;
      --secondary-bg-color: #eeeef2;
      --main-text-color: #334;
      --secondary-text-color: #667;
      --spacing-0: 0.25rem;
      --spacing-1: 0.5rem;
      --spacing-2: 1rem;
      --spacing-3: 2rem;
      --spacing-4: 3rem;
      --breakpoint-small: 640px;
    }

    @font-face {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("../../Inter-Regular.woff2?v=1") format("woff2");
    }

    @font-face {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url("../../Inter-SemiBold.woff2?v=1") format("woff2");
    }

    html {
      font-family: "Inter", sans-serif;
      color: var(--main-text-color);
      background-color: var(--main-bg-color);
      overflow-y: scroll;
    }

    body {
      margin: 0;
      padding-top: 4rem;
    }

    a {
      color: currentColor;
      text-decoration: none;
    }

    .hidden {
      visibility: hidden;
      pointer-events: none;
    }
  </style>
</head>
