---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const { project } = Astro.props;
const coverImage = project.coverImage;
---

<style lang="scss">
  .project-copy {
    padding: var(--spacing-2);

    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
      padding: 0 0 var(--spacing-2) 0;
    }
  }

  .project-title {
    font-size: 0.85em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: var(--spacing-1) 0;
  }

  .project-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
</style>

<style lang="scss" is:global>
  .project-description {
    font-size: 0.85em;
    color: #778;

    p {
      margin-top: 0;
    }
  }
</style>

<div>
  {
    coverImage && (
      <img
        class="project-image"
        src={`${coverImage.url}?w=600&fit=fill`}
        alt={coverImage.title}
      />
    )
  }
  <div class="project-copy">
    <h2 class="project-title">{project.title}</h2>
    <div
      class="project-description"
      set:html={documentToHtmlString(project.shortDescription.json)}
    >
    </div>
  </div>
</div>
