---
import ExternalMedia from "./ExternalMedia.astro";

const { media, externalMediaUrls } = Astro.props;
---

<p>Media</p>
<pre>{JSON.stringify(media, null, 2)}</pre>

<p>External</p>
<pre>{JSON.stringify(externalMediaUrls, null, 2)}</pre>

{
  externalMediaUrls.map((externalMediaUrl) => (
    <ExternalMedia url={externalMediaUrl} />
  ))
}
